@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
    background: #4E5966;
    background-image: url('../components/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


#quotes__container {
    display: table;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 100px;
    border-radius: 10px;

    background: transparent;
}

.quote {
    text-align: justify;
    width: 500px;
}

.btn {
    background-color: #fff;
    border: solid 5px #000;
    color: #fff;
    padding: 10px;
    background: #000;
}

.btn-primary {
    background-color: #fff;
    border: solid 5px #000;
    color: #fff;
    padding: 10px;
    background: #000;
    border-radius: 50px;
}

.btn:hover, .btn-primary:hover {
    background-color: #fff;
    color: #000;
    border: solid 5px #fff;
    border-radius: 50px;
}